@model IEnumerable<Frontend.Models.AlumnoGrado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Asignaciones</h1>

<p>
    <a asp-action="Create">Crear Asignacion</a>
</p>
<div class="card-deck">

    @foreach (var item in Model) {
        <div class="card d-inline-flex bg-light text-center" style="width:20rem;">
            <div class="card-header">
                <h3>@item.Seccion</h3>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @item.AlumnoNombre | @item.GradoNombre
                </div>
                <br />
                <div class="btn-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>
